<!DOCTYPE html>
<html lang="en">

<head>
    {{>headLinks}}
</head>

<body>
    {{>header}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_error">
                    <h1 class="errorh1">404 Error</h1>
                    <h3 class="errorh3">Opps! page not found</h3>
                    <p class="errorp">We are unable to process your request</p>
                    <a href="/"><button class="button">Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    {{>bootstrapJs}}
</body>

</html>